// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size:62.5%;
	width:50%;
	height:600vh;
	margin: 0 auto;
	@media(max-width: 500px){
		width:100%;
	}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
//Start of my code//
@import url('https://fonts.googleapis.com/css?family=Alatsi|Work+Sans&display=swap');

@main-color:rgba(36, 51, 73, 0.911);

@second-color:rgb(244, 245, 247);

@main-font:'Alatsi', sans-serif;

@secondary-font:'Work Sans', sans-serif;

.setup(){
	font-size:1.5rem;
	padding:2%;
	text-align:center;
}
header{
	color:white;
	background-color:@main-color;
	.setup();
	@media (max-width 500px){
		header{
		width:100%
		height:28vh;
		}
	}
	nav{
		width:100%;
		text-align:center;
		display:flex;
		justify-content:space-evenly;
		font-size:1rem;
		padding-bottom:3%;
		font-size:1.5rem;
		@media(max-width 500px){
			font-size:1rem;
			width:100%;
			display:flex;
			flex-direction:column;
		}
	}
	h1{
		font-size:3.5rem;
		padding-bottom:6%;
		@media(max-width:500px){
			font-size:1.5rem;
		}
	}
	.header-img{	
		width:34%;
		@media(max-width:500px){
			height:20vh;
			width:37%;
			border-radius:5px;
		}
	}
	.header-div{
		color:darkslategrey;
		background-color:white;
		border-radius:5%;
		width:90%;
		padding:5%;
		display:flex;
		justify-content:space-evenly;
		margin:0 auto;
		text-align:left;
		@media(max-width:500px){
			height:27vh;
			display:flex;
			flex-direction:row;
			padding-bottom:20%;
			margin-bottom:3%;
		}
		}
	p{
		width:50%;
		font-family:@secondary-font;
		@media(max-width: 500px){
			font-size:1rem;
		}
	}
}//End Header Elemtents//
.big-container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	border:1px solid grey;
	h2{
		font-family:@main-font;
		font-size:2.5rem;
		width:50%;
		display:flex;
		justify-content:center;
		@media(max-width: 500px){
			font-size:1.5rem;
		}
	}
	.skills-container{
		width:100%;
		display:flex;
		flex-wrap:nowrap;
		border-bottom:2px solid lightgray;
		h2{
			display:flex;
		    justify-content:space-evenly;
			align-items:center;
		}
		ul{
			list-style-type:initial;
			@media(max-width: 500px){
				font-size:1.0rem;
			}
		}
		li{
			padding:3%;
			text-align:left;

		}
		
	.setup();
	}
	.work-container{
		width:100%;
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;

		h2{
			width:50%;
			display:flex;
			justify-content:center;
			align-items:center;
		}
		ul{
			@media(max-width: 500px){
				font-size:1.0rem;
				width:50%;
			}
			width:40%;
			background-color:rgba(215, 220, 228, 0.781)
		}
		li{
			padding:4%;
			border: 1px solid rgb(117, 112, 112);
		}
	.setup();
	}
	footer{
		width:100%;
		color:@second-color;
		background-color:@main-color;
		display:flex;


		.setup();
		address{
			font-family:@secondary-font;
			font-size:1rem;
		}
	}
}